.text-L {
	line-height: normal;
	font-size: 24px;
	font-weight: 500;
}

.text-M {
	line-height: normal;
	font-size: 18px;
	font-weight: 500;
}

.text-S {
	line-height: normal;
	font-size: 18px;
	font-weight: 300;
}

.text-XS {
	line-height: 16px;
	font-size: 12px;
	font-weight: 300;
}

.header-L {
	font-size: 32px;
	font-weight: 600;
}

.header-M {
	font-size: 24px;
	font-weight: 600;
}

.header-S {
	font-size: 18px;
	font-weight: 600;
}


.header-S {
	font-size: 18px;
	font-weight: 400;
}


a {
	color: var(--primary-color);
}