input, select
  padding: 5px 9px;
  border-radius: 6px;
  border: 0;
  border: 1px solid var(--tertiary-color);

button
  border: 0;
  border-radius: 14px;
  padding: 5px 34px;
  box-shadow: 1px 2px 2px 0px #0000006b;
  background: #e1e1e166;
  cursor pointer
  background: #3f51b5;
  
  font-family: sans-serif;
  
img {
  max-width: 100%;
}

::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 4px var(--tertirary-color)
  background-color: var(--tertirary-color)
  border-radius: 10px;

::-webkit-scrollbar
  width: 8px;
  height: 8px;

  background-color: var(--tertirary-color)
  cursor pointer
  &:hover
    width 8px

::-webkit-scrollbar-thumb
  background-color: var(--secondary-color)
  border-radius: 10px;
