:root
    --primary-color: #000;
    --secondary-color: #7e4b00;
    --tertiary-color: #5d5d5d;
    --quaternery-color: #dbdada;
    --primary-bg-color: #f7f7f7;
    --secondary-bg-color: #000;
    --primary-shadow: 2px 1px 6px 0px #00000045;

    --layout-width: 700px